<div class="popup-outer">
    <div class="modal fade" id="forgotpassword-popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>Forgot Password</h2>
                </div>
                <div class="modal-body">
                    <!-- <div class="shopping-wrap" *ngIf="message.msg!=''">
                        <div class="alert alert-dismissible alert-{{ message.color }}" role="alert">
                            <i>
                                <img src="../../../assets/images/{{ message.image }}" alt="success" />
                            </i>
                            <span>{{ message.msg }}</span>
                        </div>
                    </div> -->
                    <form  class="loginform" id="generateOTPForm" [formGroup]="generateOTPForm" (ngSubmit)="generateOTP()">
                        <div class="form-group">
                            <label class="form-label">Enter Email</label>
                            <input type="email" formControlName="email" class="form-control" id="otpemail" placeholder="Enter Your Email" required>
                        </div>
                        <!-- <div class="form-group">
                            <label class="form-label">New Password</label>
                            <input type="password" formControlName="newpassword" class="form-control" id="loginpass_new" placeholder="Enter new Password">
                        </div> -->
                        <div class="form-group clearfix login-options">
                            <button type="submit" class="btn-secondary" id="btn_otpgenerator"><img *ngIf="spinnerDisplay" src="../../../assets/images/spinner.svg">Get OTP</button>
                            <p><a data-toggle="modal" data-target="#Login-popup" data-dismiss="modal">Back To Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-outer">
    <div class="modal fade" id="newpassword-popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>OTP Verify</h2>
                </div>
                <div class="modal-body">
                    <form  class="loginform" id="validateOTPForm" [formGroup]="validateOTPForm" (ngSubmit)="validateOTP()">
                        <div class="form-group">
                            <label class="form-label">Enter OTP</label>
                            <input type="text" formControlName="otp" class="form-control" id="otp" placeholder="Enter Your OTP" autocomplete="off">
                        </div>
                        <div class="form-group" *ngIf="email!='' && otpVerify">
                            <label class="form-label">New Password</label>
                            <input type="password" formControlName="newpassword" class="form-control" id="otpnewpassword" placeholder="Enter new Password">
                        </div>
                        <div class="form-group" *ngIf="email!='' && otpVerify">
                            <label class="form-label">Re Password</label>
                            <input type="password" formControlName="repassword" class="form-control" id="otprepassword" placeholder="Enter Re Password">
                        </div>
                        <div class="form-group">
                            OTP has been expired in <span id="expiryIn" style="color:red">00:00</span>
                        </div>
                        <div class="form-group clearfix login-options">
                            <input type="submit" class="btn-secondary" formControlName="btn" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>