@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css");
img{
    width: 100%;
    display: block;
}
.owl-item{
    height: 100% !important;
}

.rating {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  
  .rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
    font-size: 25px;
  }
  
  .rating label:last-child {
    position: static;
  }
  
  .rating label:nth-child(1) {
    z-index: 5;
  }
  
  .rating label:nth-child(2) {
    z-index: 4;
  }
  
  .rating label:nth-child(3) {
    z-index: 3;
  }
  
  .rating label:nth-child(4) {
    z-index: 2;
  }
  
  .rating label:nth-child(5) {
    z-index: 1;
  }
  
  .rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .rating label .icon {
    float: left;
    color: transparent;
  }
  
  .rating label:last-child .icon {
    color: #000;
  }
  
  .rating:not(:hover) label input:checked ~ .icon,
  .rating:hover label:hover input ~ .icon {
    color: #ea4748;
  }
  
  .rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #ea4748;
  }

  #reviewForm{
    display: none;
  }
  #reviewForm.active{
    display: block;
  }

  .review-detail{
    border-bottom: 1px solid rgba(255, 0, 0, 0.256);
    margin-bottom: 10px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .review-detail.total{
    border: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .fa.fa-star{
    color: rgb(67, 67, 67);
  }
  .fa.checked{
    color: #ea4748;
  }