<div class="title-block-outer">
    <img src="../../../assets/images/inner-banner.jpg" alt="Banner-image" class="img-responsive" />
    <div class="container title-block-container">
        <h2>{{ product.subCatName }}</h2>
    </div>
</div>
<div class="breadcrumb-panel">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="index.html" title="Home">Home</a></li>
            <li>
                <a [routerLink]="['/product/' + product['catName']]" title="Men">{{
                    product["catName"] | titleCaptilize
                    }}</a>
            </li>
            <li>
                <a [routerLink]="[
            '/product/' + product['catName'] + '/' + product['subCatName']
          ]">{{ product["subCatName"] | titleCaptilize }}</a>
            </li>
            <li class="active">{{ product["productName"] }}</li>
        </ol>
    </div>
</div>
<section class="product_detail content">
    <!-- <div class="container shopping-wrap">
        <div class="alert alert-dismissible alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <i><img src="../../../assets/images/success.svg" alt="success" /></i>
            <span> U.S. Polo Assn. Full Sleeve Plain T-Shirts for Men </span> has been
            added to your wishlist.
        </div>
    </div> -->
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="wrapper1" style="overflow-x: hidden">
                    <owl-carousel-o [options]="customOptions1" (changed)="getData($event, synk2)" #synk1>
                        <ng-container *ngFor="let slide of productImages; let id_ = index">
                            <ng-template class="slide" carouselSlide [id]="id_.toString()">
                                <a [href]="slide" class="fancybox" target="blank_"><img [src]="slide" height="500px"
                                        width="350px" [alt]="id_" [title]="slide" /></a>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
                <div class="wrapper2" style="overflow-x: hidden">
                    <owl-carousel-o [options]="customOptions2" (changed)="getData($event, synk1)" #synk2>
                        <ng-container *ngFor="let slide of productImages; let id_ = index">
                            <ng-template class="slide" carouselSlide [width]="155" [id]="id_.toString()">
                                <a target="blank_" style="cursor: pointer;" (click)="synk1.to(id_.toString())"><img
                                        [src]="slide" height="150px" [alt]="id_" [title]="slide" /></a>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="product-name">
                    <h1>
                        {{ product["productName"] }} {{ product["subCatName"] }} for
                        {{ product["catName"] }}
                    </h1>
                </div>
                <div class="short-description">
                    {{ product["productDesc"] }}
                </div>
                <div class="sku"><span>SKU: </span>{{ product["SKU"] }}</div>
                <p class="availability">
                    Availability:<span class="in-stock" *ngIf="product['totalQuantity'] > 0; else notinstock">In
                        stock</span>
                    <ng-template #notinstock><span class="not-in-stock">Not Available</span></ng-template>
                </p>
                <div class="price-box">{{ product['productPrice'] | setCurr : currency }}</div>
                <form [formGroup]="cartForm" id="cartForm" (ngSubmit)="addTocart()">
                    <div class="product-options">
                        <label class="required"><em>*</em> Size</label>
                        <!-- <p class="required">* Required Fields</p> -->
                        <div class="form-group">
                            <select formControlName="psize" id="psize">
                                <option value="0">-- Please Select --</option>
                                <option *ngFor="let size of sizes" value="{{ size['id'] }}">
                                    {{ size["size"] | uppercase }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="product-options">
                        <label class="required"><em>*</em> Color</label>
                        <!-- <p class="required">* Required Fields</p> -->
                        <div class="form-group">
                            <select formControlName="pcolor" id="pcolor">
                                <option value="0">-- Please Select --</option>
                                <option *ngFor="let color of colors" value="{{ color['id'] }}">
                                    {{ color["colorName"] | uppercase }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="add-to-cart-btn clearfix" style="display: flex;">
                        <label>Qty:</label>
                        <input class="form-control" id="pqty" formControlName="pqty" style="width: 70px;" [min]="1"
                            [max]="product['totalQuantity']" [value]="1" type="number">&nbsp;&nbsp;
                        <button type="submit" title="Add to Cart" class="button btn-cart">
                            <span>{{ btn }}</span>
                        </button>
                    </div>
                </form>
                <div class="email-addto-box clearfix">
                    <ul class="add-to-links">
                        <li><a href="#" class="link-wishlist">Add to Wishlist</a></li>
                    </ul>
                </div>
                <div class="tablist-nav">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs clearfix" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#delivery" aria-controls="delivery" role="tab" data-toggle="tab">Delivery</a>
                        </li>
                        <li role="presentation">
                            <a href="#shipping" aria-controls="shipping" role="tab" data-toggle="tab">Shipping</a>
                        </li>
                        <li role="presentation">
                            <a href="#sizeguide" aria-controls="sizeguide" role="tab" data-toggle="tab">Sizeguide</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="delivery">
                            We offer the following delivery options for 24c ours over the
                            world. Deliveries are not made on Saturdays, Sundays or on public
                            holidays. A specific time slot cannot be specified with any of our
                            delivery options. Please refer to the Terms and Conditions of
                            Sale.
                        </div>
                        <div role="tabpanel" class="tab-pane" id="shipping">
                            Before we can dispatch your purchases, we may need to confirm your
                            details with your card issuer. We will do our best to keep delays
                            to a minimum Our delivery time starts from the moment an order is
                            accepted and includes a 48 hour period where your items will be
                            processed and dispatched by our warehouse
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sizeguide">
                            <table class="size_guide_table">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>S</th>
                                        <th>M</th>
                                        <th>L</th>
                                        <th>XL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Men</td>
                                        <td>7-10</td>
                                        <td>10-13</td>
                                        <td>13-15</td>
                                        <td>15-17</td>
                                    </tr>
                                    <tr>
                                        <td>Women</td>
                                        <td>7-9</td>
                                        <td>10-12</td>
                                        <td>13-14</td>
                                        <td>15-16</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-content">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#product-des" aria-controls="product-des" role="tab" data-toggle="tab">Product
                        Description</a>
                </li>
                <li role="presentation">
                    <a href="#product-review" aria-controls="product-review" role="tab" data-toggle="tab">Product's
                        Review</a>
                </li>
                <li role="presentation">
                    <a href="#cms-tab" aria-controls="cms-tab" role="tab" data-toggle="tab">CMS tab</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="product-des">
                    <p>
                        <strong>{{ product["productDesc"] }}</strong>
                    </p>
                </div>
                <div role="tabpanel" class="tab-pane" id="product-review">
                    <p class="write-review">
                        <a title="Write a review" (click)="toggleReview()" style="cursor: pointer;">Write a review</a>
                    </p>
                    <form class="review-open" [formGroup]="reviewForm" id="reviewForm" (ngSubmit)="reviewSubmit()">
                        <div class="rating">
                            <label>
                                <input type="radio" name="stars" class="star-input" value="1" formControlName="stars" />
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" class="star-input" value="2" formControlName="stars" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" class="star-input" value="3" formControlName="stars"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" class="star-input" value="4" formControlName="stars" />
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                            <label>
                                <input type="radio" name="stars" class="star-input" value="5" formControlName="stars"/>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                                <span class="icon">★</span>
                            </label>
                        </div>
                        <div class="form-group" style="margin-top: 5px;">
                            <textarea id="review" class="form-control" placeholder="Write a review" formControlName="review"></textarea>
                        </div>
                        <input type="submit" class="btn-secondary" name="submit" formControlName="button" />
                    </form>
                    <div class="review-detail" *ngFor="let review of productReviews; trackBy:trackByReview">
                        <span>{{ review['username'] }}, {{ review['createdDate'] | date }} writes:</span>
                        <p style="font-weight: 200;">
                           {{ review['review'] }}
                        </p>
                    </div> 
                </div>
                <div role="tabpanel" class="tab-pane" id="cms-tab">
                    <p>
                        Custom Variants and Options let you create product customization
                        options and fields quickly and easily. Any product can have custom
                        variants and options – this can be configured in its product
                        configuration. Custom variants and options can be created for
                        products as required or non-required options. They can affect the
                        total price of the product by a fixed amount or percentage.
                    </p>
                    <p>
                        Custom Variants and Options let you create product customization
                        options and fields quickly and easily. Any product can have custom
                        variants and options – this can be configured in its product
                        configuration. Custom variants and options can be created for
                        products as required or non-required options. They can affect the
                        total price of the product by a fixed amount or percentage.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content End-->