<div class="container" style="margin-top: 35px; min-height: 100vh;">
    <div>
        <div>
            <h2 class="text-center">WishList Details</h2>
        </div>
        <table class="table orderDetails">
            <thead>
                <tr>
                    <th scope="col">SrNo.</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="wishlistData!=null && wishlistData.length > 0; else dataLoading">
                <tr *ngFor="let wish of wishlistData; let i = index" attr.data-toggle="collapse"
                    attr.data-target="#accordion{{ i }}" class="clickable">
                    <td>{{ i+1 }}</td>
                    <th scope="row"><img src="{{ productBaseURL+'/product/'+((wish[0].productImages | strtoarray: ',')[0]) }}" width="80" height="80" alt=""></th>
                    <td><a [routerLink]="['/productInfo/' + wish[0]['productId']]" title="{{ wish[0].productName }}"
                        class="heading" style="font-size: 18px;"><strong>{{ wish[0].productName }}</strong></a></td>
                    <td>{{ wish[0].productPrice | setCurr : currency }}</td>
                    <td>
                        <a (click)="addToCart(wish[1])" style="cursor: pointer;"><img height="28" src="../../../assets/images/add-cart.png" alt=""></a>&nbsp;
                        <a (click)="removeWish(wish[0].id)" style="cursor: pointer;"><img height="20" src="../../../assets/images/trash.png" alt=""></a>
                    </td>
                </tr>
            </tbody>
            <ng-template #dataLoading>
                <tbody>
                    <tr>
                        <td colspan="8">
                            <div style="text-align: center">
                                <h3 style="padding-top: 20px">No Record Found!!!</h3>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>