<div class="title-block-outer">
    <img src="../assets/images/inner-banner.jpg" alt="Banner-image" class="img-responsive" />
    <div class="container title-block-container">
      <h2>{{ 'WishList' }}</h2>
    </div>
  </div>
  <div class="breadcrumb-panel">
    <div class="container">
      <ol class="breadcrumb">
        <li><a [routerLink]="['/']" title="Home">Home</a></li>
        <li class="active">{{ 'WishList' }}</li>
      </ol>
    </div>
  </div>
<div class="container" style="margin-top: 35px; min-height: 100vh;">
    <div>
        <table class="table orderDetails">
            <thead>
                <tr>
                    <th scope="col">SrNo.</th>
                    <th scope="col">Product Image</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="wishlistData!=null && wishlistData.length > 0; else dataLoading">
                <tr *ngFor="let wish of wishlistData; let i = index" attr.data-toggle="collapse"
                    attr.data-target="#accordion{{ i }}" class="clickable">
                    <td>{{ i+1 }}</td>
                    <th scope="row"><img src="{{ productBaseURL+'/product/'+((wish[0].productImages | strtoarray: ',')[0]) }}" width="60" height="60" alt=""></th>
                    <td><a [routerLink]="['/productInfo/' + wish[0]['productId']]" title="{{ wish[0].productName }}"
                        class="heading">{{ wish[0].productName }}</a></td>
                    <td>{{ wish[0].productPrice | setCurr : currency }}</td>
                    <td>
                        <a (click)="addToCart(wish[1])" style="cursor: pointer;"><img height="24" src="../../../assets/images/add-cart.png" alt=""></a>&nbsp;
                        <a (click)="removeWish(wish[0].id)" style="cursor: pointer;"><img height="16" src="../../../assets/images/trash.png" alt=""></a>
                    </td>
                </tr>
            </tbody>
            <ng-template #dataLoading>
                <tbody>
                    <tr>
                        <td colspan="8">
                            <div style="text-align: center">
                                <h3 style="padding-top: 20px">No Record Found!!!</h3>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </table>
    </div>
</div>