<div class="popup-outer">
    <div class="modal fade" id="changepassword-popup" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>Change Password</h2>
                </div>
                <div class="modal-body">
                    <!-- <div class="shopping-wrap" *ngIf="message.msg!=''">
                        <div class="alert alert-dismissible alert-{{ message.color }}" role="alert">
                            <i>
                                <img src="../../../assets/images/{{ message.image }}" alt="success" />
                            </i>
                            <span>{{ message.msg }}</span>
                        </div>
                    </div> -->
                    <form  class="loginform" id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                        
                        <div class="form-group">
                            <label class="form-label">Old Password</label>
                            <input type="password" formControlName="oldpassword" class="form-control" id="loginpass_old" placeholder="Enter old Password">
                        </div>
                        <div class="form-group">
                            <label class="form-label">New Password</label>
                            <input type="password" formControlName="newpassword" class="form-control" id="loginpass_new" placeholder="Enter new Password">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Re Password</label>
                            <input type="password" formControlName="repassword" class="form-control" id="loginpass_re" placeholder="Enter re Password">
                        </div>
                        <div class="form-group clearfix login-options">
                            <button type="submit" class="btn-secondary">Change</button>
                            <p><a data-toggle="modal" data-target="#Login-popup" data-dismiss="modal" title="Register">Back To Login</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>