<!-- Header Start -->
<header class="header">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle nav-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="col-sm-1">
                    <a [routerLink]="['/']" title="eShopper" class="logo"><img src="../assets/images/logo.svg"
                            alt="eShopper" /></a>
                </div>
                <div class="col-sm-5 col-xs-12">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <nav class="nav is-fixed">
                            <div class="nav-container clearfix">
                                <ul class="nav-menu menu clearfix">
                                    <li class="menu-item">
                                        <a [routerLink]="['product/']" class="menu-link" title="Home">Home</a>
                                    </li>
                                    <li class="menu-item" *ngFor="let cat of categories">
                                        <a [routerLink]="['product/' + cat.catName]" class="menu-link"
                                            (mouseover)="getSubCategory(cat.id)" title="{{ cat.catName }}">{{
                                            cat.catName }}</a>
                                        <ul class="sub-menu" *ngIf="subcategories?.length">
                                            <li *ngFor="let subcat of subcategories">
                                                <a [routerLink]="[
                            'product/' + cat.catName + '/' + subcat.subCatName
                          ]">{{ subcat.subCatName }}</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 search-outer">
                    <form>
                        <ul class="header-right-block clearfix">
                            <li class="login-link">
                                <a href="#" title="Login" data-toggle="modal" data-target="#Login-popup"
                                    *ngIf="!isLoggin">Login</a>
                            </li>
                            <li class="hidden-xs" *ngIf="isLoggin">
                                <span><em>Welcome</em>, {{ username | filterString }}</span>
                            </li>
                            <li *ngIf="isLoggin" class="login-link">
                                <a title="Logout" style="cursor: pointer" (click)="userLogout()">Logout</a>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Manage&nbsp;<img width="14" style="padding-bottom: 2px" src="../../../assets/images/angle-dwon.png" /></button>
                                    <div class="dropdown-content">
                                      <a *ngIf="isLoggin" [routerLink]="['/profile']" title="My Profile">Profile</a>
                                      <a *ngIf="isLoggin" [routerLink]="['/orders']" title="Orders">Orders</a>
                                      <a >Change Password</a>
                                      <a [routerLink]="['/coupons']" title="coupons">Coupons</a>
                                      <a *ngIf="isLoggin" [routerLink]="['/wishlist']" title="wishlist">WishList</a>
                                    </div>
                                  </div>
                            </li>
                            <li>
                                <div class="dropdown">
                                    <button class="dropbtn">Currencies&nbsp;<img width="14" style="padding-bottom: 2px" src="../../../assets/images/angle-dwon.png" /></button>
                                    <div class="dropdown-content">
                                        <a style="cursor: pointer" (click)="currencyChange('inr')">INR</a>
                                        <a style="cursor: pointer" (click)="currencyChange('usd')">USD</a>
                                        <a style="cursor: pointer" (click)="currencyChange('eur')">EUR</a>
                                    </div>
                                  </div>
                            </li>
                            <li *ngIf="isCartVisisble" class="cart-outer" id="cart-outer">
                                <a title="Add to Cart" style="cursor: pointer" class="add-to-cart"
                                    (click)="getCartItems()"></a>
                                <div class="cart-wrap">
                                    <p>Recently added item(s)</p>
                                    <ul *ngIf="cartItems != null; else noitem">
                                        <li *ngFor="let item of cartItems">
                                            <a class="cart-product" [title]="item.productName"><img [width]="58" src="{{
                            imgServerURL + '/product/' + item.productImage
                          }}" /></a>

                                            <div class="cart-details">
                                                <a class="btn-remove" title="Remove item"
                                                    (click)="removeItemFromCart(item.id)" style="cursor: pointer"><img
                                                        src="../assets/images/cross.svg" alt="" /></a>
                                                <a class="btn-edit" title="Edit item"
                                                    [routerLink]="['/productInfo/' + item.productId]">
                                                    <img src="../assets/images/edit.svg" alt="" />
                                                </a>
                                                <p class="product-name">
                                                    <a [routerLink]="['/productInfo/' + item.productId]">{{
                                                        item.productName }}</a>
                                                </p>
                                                <p class="price">
                                                    {{ item.subTotal | setCurr : currency}}
                                                </p>
                                                <p class="qty-wrapper">
                                                    <span>Qty : </span>
                                                    <span>{{ item.quantity }}</span>
                                                </p>
                                                <div class="size-wrap">
                                                    <dl class="item-options">
                                                        <dt>Size :</dt>
                                                        <dd>
                                                            {{ item.size }}
                                                        </dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ng-template #noitem>
                                        <div>
                                            <h3>No Item Found!!!</h3>
                                        </div>
                                    </ng-template>
                                    <div class="summary">
                                        <p class="subtotal">
                                            <span>Cart Subtotal:</span>&nbsp;<span class="price">{{
                                                subTotal | setCurr : currency
                                                }}</span>
                                        </p>
                                    </div>
                                    <div class="cart-action">
                                        <a [routerLink]="['cart']" title="View Cart" class="btn-secondary">View Cart</a>
                                    </div>
                                </div>
                            </li>
                            <li class="search-link-wrap">
                                <div class="search-link-outer">
                                    <div class="search-link clearfix">
                                        <input type="text" class="form-control" placeholder="Search Products by name, category, subcategory" #search (keyup)="searchGlobal(search)" />
                                        <a href="#" title="Search"><i><img src="../assets/images/search.svg"
                                                    alt="Search" /></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>

                <!-- /.navbar-collapse -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<!-- Header End-->